.brainstorm {
    textarea {
        resize: none;
        transition: none;
        width: 50%;
        height: 24px;
    }
    padding: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
    .comments {
        margin-top: 7px;
        margin-left: 5px;
        font-size: 0.8em;
        .firstcomment {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
    article {
        border: 1px solid @content-color-40;
        &.vote_brainstorm {
            padding: 0px;

            section.main {
                display: table;
                h1:empty {
                    display: none;
                }
                nav {
                    background-color: @content-color-40;
                    display: table-cell;
                    width: 4%;
                    padding: 4px;
                    text-align: center;
                    vertical-align: middle;
                    input {
                        display: block;
                    }
                }
                div.body {
                    padding: 10px;
                    display: table-cell;
                    vertical-align: middle;
                    width: 92%;
                }
                div.power {
                    display: table-cell;
                    width: 4%;
                    padding: 4px;
                    text-align: center;
                    vertical-align: middle;
                    border-right: 1px solid @content-color-40;
                }
            }
            footer {
                border-top: 1px solid @content-color-40;
                & > form {
                    display: none;
                }
                label {
                    padding: 2px;
                    color: @base-color;
                    &:hover {
                        color: @active-color;
                    }
                }
                input[type='checkbox'] {
                    display: none;
                }
                input[type='checkbox']:checked + form {
                    display: inherit;
                }
            }
        }
        &.linked_brainstorm {
            margin-bottom: 10px;
            padding: 10px;
            color: #000;
            margin-left: auto;
            margin-right: auto;
            div.type {
                font-size: 0.8em;
                color: @content-color;
            }
            &:hover {
                border-color: @base-color;
                color: #000;
            }
        }
    }
    .brainstorm_body {
        background: url("@{icon-path}/black/arr_1right.png") no-repeat 10px 13px;
        border: thin solid @content-color-40;
        padding: 10px;
        padding-left: 30px;
    }
}
.parent_brainstorm {
    display: block;
    padding: 10px;
    padding-left: 30px;
    font-size: 0.8em;
    border: thin solid @content-color-40;
    background: url("@{icon-path}/blue/arr_1up.png") no-repeat 10px 10px;
    .title {
        font-weight: bold;
    }
}